@import url('https://fonts.googleapis.com/css2? família=Noto+Sans:wght@100;300&family=Sarala&display=swap');

*{
    margin: 0;
    text-decoration: none;
}

body{
    background-color: #201b2c;
    font-family: 'Noto Sans', sans-serif;   
}
.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
  
}

.left-login >h1{
    color: #77ffc0;
    
}

.left-login-image{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;     
}

.card-login{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login >h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield >input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px #00000056;
}

.textfield >label{
    color:#f0ffffde;
    margin-bottom: 10px;

}

.textfield >label::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 2px;
    color: #109922;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media (max-width: 800px){
    .main-login{
        display: flex;
        flex-direction: column;
    }
    .right-login{
        width: 100vw;
    }

    .left-login{
        width: 100vw;
    }

    .left-login-image{
        width: 35vw;
    }

    .left-login >h1{
        display: none;
    }
}

